body {
    background-image: url("style/spacebackground.gif");
    background-repeat: repeat;
    color: white;
    margin: 0px;
    height: 100vh;
}

footer {
    bottom: 0%;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 4px 0px;
    background-color: black;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.main-canvas {
    border: gray 4px groove;
}

#canvas-display {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#gui-enterorbit {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);

    background-color: darkblue;
    color: white;
    font-family: inherit;
}

#gui-enterorbit:hover {
    background-color: blue;
}