body {
    background-image: url("style/spacebackground.gif");
    background-repeat: repeat;
    color: white;
    margin: 0px;
    height: 100vh;
}

footer {
    bottom: 0%;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 4px 0px;
    background-color: black;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.main-canvas {
    border: gray 4px groove;
}

#canvas-display {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#gui-enterorbit {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);
}

#gui-enterorbit button {
    background-color: darkblue;
    color: white;
    font-family: inherit;
}

#gui-enterorbit button:hover {
    background-color: blue;
}

#gui-coins {
    position: absolute;
    bottom: 4%;
    right: 2%;

    display: flex;
    align-items: center;
}

#gui-bar {
    position: absolute;
    bottom: 4%;
    left: 2%;
    height: 128px;
}

#gui-bar>span {
    display: inline-block;
    width: 16px;
    height: 100%;

    outline: 3px gray groove;
    background-color: black;
}

#gui-bar>span>span {
    position: absolute;
    outline: none;
    bottom: 0%;
    width: inherit;
}

#gui-coins-count {
    margin-right: 8px;
}
